# EDA
This file will take some time loking at the data and trying to figure out what can be useful. There are quite a few tables so it will be helpful to get familiar with exactly what information is available.  
I use a custom class I defined called DataLoader ot deal with some of the tedium of connecting to the database and making common queries.

In [1]:
import psycopg2
import pandas as pd

from DataLoader import DataLoader

In [2]:
dl = DataLoader.DataLoader('config.json')

There are quite a few table sin the database and a lot of them don't contain much information. I grouped them into a couple categories based on how useful they would be for predicting match outcomes from ingame data, the main purpose of this project.

In [23]:
dl.get_table(dl.tablename_query, index=None)

                table_name
0                     maps
1                    users
2                    files
3                  objects
4     civilization_bonuses
5          alembic_version
6            player_colors
7   object_instance_states
8              tournaments
9            civilizations
10                  rounds
11                 ladders
12              action_log
13                  series
14            participants
15               platforms
16               map_sizes
17              event_maps
18                datasets
19              game_types
20            technologies
21            difficulties
22      map_reveal_choices
23                 players
24                  speeds
25         series_metadata
26      starting_resources
27           starting_ages
28                   teams
29      victory_conditions
30                    chat
31                research
32                  market
33              timeseries
34                 matches
35                 terrain
36                  people
37        object_instances
38                      hc
39                versions
40                  events
41                 actions
42               resources
43            transactions
44              formations
45                 tribute
46         formation_types

## Miscellaneous Tables
These tables contain information that might be useful to someone but not really me, at least for now. I might use some more of the information about series and tournaments for other things but for now I will leave them aside.  
users, files, players, people, hc, events, rounds, series, and series_metadata

## Reference tables
There are quite a few tables that are present just to convert between numeric identifiers and other datatypes, primarily strings, so I won't spend much time with those. The tables maps, civbonus, color, civ, mapsize, eventmap, datasets, gametype, tech, difficulties, mapreveal, speed, startres, startage, victory_conditions, terrain, versions, actions, resources, formation_types, objects, tournaments and ladder all fall into this category.

In [21]:
dl.color

      name      hex
id
0     Blue  #0000FF
1      Red  #FF0000
2    Green  #00FF00
3   Yellow  #FFFF00
5   Purple  #FF00FF
6     Gray  #2F2F2F
7   Orange  #FF8201
4     Teal  #00FFFF

In [22]:
dl.civbonus.head()

,civilization_id,dataset_id,type,description
id,,,,
1,1,1,civ,Town Centers cost -50% wood in Castle Age
2,1,1,civ,Foot Archers (except Skirmishers) have +1/+2 r...
3,1,1,civ,Shepherds work 25% faster
4,1,1,team,Archery Ranges work 20% faster
5,2,1,civ,Foragers work 25% faster

## Match Data
These are the tables that I will primarily be working with. The reference tables will be useful for translating some things into something more understandable than the numbers while i am getting more familiar with the way that they are encoded but this is where I will spend the rest of my time in this file.

In [38]:
df = dl.get_table('SELECT * FROM matches LIMIT 20;', index=None)

In [39]:
df.columns

Index(['id', 'hash', 'series_id', 'tournament_id', 'event_id', 'version',
       'minor_version', 'dataset_id', 'dataset_version', 'platform_id',
       'ladder_id', 'rated', 'winning_team_id', 'builtin_map_id',
       'map_size_id', 'map_name', 'event_map_id', 'rms_zr', 'rms_custom',
       'rms_seed', 'guard_state', 'fixed_positions', 'direct_placement',
       'effect_quantity', 'played', 'added', 'platform_match_id', 'duration',
       'completed', 'restored', 'postgame', 'type_id', 'difficulty_id',
       'population_limit', 'map_reveal_choice_id', 'cheats', 'speed_id',
       'lock_teams', 'mirror', 'diplomacy_type', 'team_size',
       'starting_resources_id', 'starting_age_id', 'victory_condition_id',
       'team_together', 'all_technologies', 'lock_speed', 'multiqueue',
       'lobby_name', 'treaty_length', 'build', 'map_tiles', 'has_playback',
       'game_version', 'save_version', 'version_id', 'hc',
       'starting_palisades', 'starting_town_centers', 'starting_walls',
       'state_reader_interval', 'state_reader_runtime', 'state_reader_version',
       'platform_metadata', 'water_percent', 'lobby_private', 'lobby_opened',
       'server', 'log_version', 'objects'],
      dtype='object')

In [27]:
dl.get_table(dl.users_query[:-1] + " WHERE person_id IS NOT NULL LIMIT 20;")

             platform_id                      added  person_id
id
1826483               de 2020-03-26 14:44:42.999286         90
124653653         voobly 2020-03-18 15:39:43.400884         90
251265                de 2020-02-18 19:14:25.404403         90
125129978-2       voobly 2020-02-20 18:56:22.256953         90
125129979         voobly 2020-01-19 18:59:07.844302         90
125375948         voobly 2019-08-17 00:00:15.772713         90
123422126         voobly 2019-04-23 19:00:36.726676         90
123844441         voobly 2019-03-30 21:26:19.188674         90
124341247         voobly 2020-04-25 14:19:19.316022         91
123887528         voobly 2020-03-19 16:25:29.122778         91
1862911               de 2020-03-26 14:44:43.013566         91
312938                de 2020-03-06 03:08:02.902766         91
125129985         voobly 2020-01-19 18:59:19.648030         91
123219836         voobly 2019-05-25 16:01:24.857122         91
123945837         voobly 2019-04-07 15:34:33.785803         91
123194539         voobly 2019-03-31 03:02:33.762676         91
1829738               de 2020-03-26 14:43:02.885382         92
1432837               de 2020-03-08 05:08:27.914533         92
215442                de 2019-12-09 15:06:15.551907         92
125129996-11      voobly 2020-02-20 18:56:22.311796         92

    version_num
0  f7ebeaadc252

In [ ]:
dl.get